/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #DCCDE8;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: plum;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-right: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-links a:hover,
.nav-links a.active {
    background: black;
    color: white;
}

.hire-me-btn {
    background: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.hire-me-btn:hover {
    background: plum;
}

/* Hero Section */
.hero {
    text-align: center;
    background: radial-gradient(circle, #1e1e2f 0%, #141418 100%);
}

.hero-content {
    padding: 80px ;
    background-color: #DCCDE8;
}

.profile-pic {
    width: 250px;
    height: 280px;
    border-radius: 50%;
    border: 4px solid plum;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    margin: 20px 0;
    line-height: 1.3;
}

h1 .highlight {
    color: plum;
}

p {
    font-size: 18px;
    margin-top: 10px;
    color: black;
    text-align: center;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }
    
    .nav-links {
        flex-direction: column;
        margin-top: 10px;
    }
    
    .nav-links li {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .hero-content {
        padding: 40px;
    }

    .profile-pic {
        width: 200px;
        height: 220px;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 16px;
    }

    .hire-me-btn {
        font-size: 14px;
    }
}
