h1 {
    font-family: 'Charmonman', cursive;
    font-size: 100px;
    color: #F71735;
    text-align: center;
    margin-bottom: 0;
    margin-top: 50px;
    padding-top: 55px;
}

p, ul, li {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #000000;
    text-align: left;
}

#intro-text {
    margin: 0 auto;
    width: 500px;
}

.text-green {
    color: #388659;
    font-weight: bold;
}

a {
    color: #4381C1;
    font-weight: bold;
}

div#box {
    background-color: #ffffff;
    border-radius: 15px;
    margin: 0 auto;
    width: 700px;
    height: 800px;
    margin-top: 96px;
}


body {
    background-color: #F5EFED;
}

/* Responsive for larger screens */
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 80px;
    }

    p, ul, li {
        font-size: 18px;
    }

    div#box {
        max-width: 700px;
        height: 800px;
    }
}

/* Responsive for small screens */
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 40px;
    }

    p, ul, li {
        font-size: 14px;
    }

    div#box {
        width: 15%;
        height: auto; /* Allows box to adjust height based on content */
        margin-top: 50px;
    }

    #intro-text {
        width: 100%;
    }
}
